* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  color: #4c4b4b;
}

hr {
  height: 4px;
  width: 80px;
  background: #e0ba00;
  margin-bottom: 60px;
  border: 0;
}

/* Navigation */
#top {
  border-radius: 0px;
}

.navbar-default .navbar-brand {
  color: #b73801;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: -4px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b73801;
}

.custom-nav {
  padding: 8px 10px;
  margin-bottom: 0;
}

.nav-links {
  font-size: 16px;
  font-weight: bold;
}

/* Intro cover */
.intro-header {
  background: url(../images/bg-cover.jpg) no-repeat center center; /* Photo by Matthew Hamilton on Unsplash */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.welcome-message {
  color: #fff;
  margin: 260px 50px;
  text-align: center;
  background: rgba(193, 161, 0, 0.85);
  padding: 2px;
}

/* Section title */
.title {
  color: #222;
  text-align: center;
  font-weight: bold;
  /*padding-bottom: 60px;*/
}

/* About me */
#about {
  padding: 60px 0 140px 0;
}

.about-me {
  line-height: 150%;
  font-size: 15px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

.btn-red {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  color: #fff;
  background-color: #b73801;
  border-color: #b73801;
}

.headshot {
  border-radius: 50%;
  text-align: center;
}

a.udurl:visited,
a.udurl:link {
  text-decoration: none;
  color: #e0ba00;
}

a.udurl:hover {
  text-decoration: none;
  color: #4c4b4b;
}

/* Featured work */
#portfolio {
  padding: 60px 0 140px 0;
  background-color: #f9f9f9;
}

.project-item {
  box-shadow: 0px 0px 4px #8e8e8e;
  background-color: #fff;
  border-radius: 3px;
  border: 10px solid #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.project-title {
  text-align: center;
  font-weight: bold;
}

.project-image {
  margin-bottom: 15px;
  border-radius: 3px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e0ba00;
}

.image-hover {
  position: relative;
  display: block;
}

.image-hover:hover .overlay {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.overlay-content {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Top footer */
.up-nav {
  font-size: 45px;
  color: #e5e5e5;
  text-align: center;
}

.footer-top {
  height: 250px;
  background-color: #b73801;
  color: #fff;
  text-align: center;
}

.contact-list {
  padding: 85px 0 0 0;
  list-style-type: none;
}

a.icon:visited,
a.icon:link {
  text-decoration: none;
  color: #f7f7f7;
}

a.icon:hover {
  text-decoration: none;
  color: #e7e7e7;
}

.contact {
  margin: 10px;
  display: inline;
}

.icon {
  margin-right: 15px;
  font-size: 40px;
}

/*  Bottom footer */
.footer-bottom {
  background-color: #f8f8f8;
  padding: 15px 0px;
  color: #4c4b4b;
}

/*  Media queries */
@media screen and (max-width: 767px) {
  .project-item {
    width: 50%;
  }

  .icon {
    font-size: 35px;
  }
}

@media screen and (max-width: 500px) {
  .project-item {
    width: 70%;
  }

  .about-me {
    padding-left: 15px;
    padding-right: 15px;
  }
}


